/*to prevent zoom in safari and chrome, font-size has to be at least 16*/
/********** database page styles **********/

/* VARIABLES */
:root {
  --dark-blue: rgb(0,0,70);
  --light-yellow: #ffffcc;
  --bright-green: #aceb6d;
  --dark-gray: rgb(105, 105, 105);
  --darker-gray: rgb(65,65,65);
  --edits-allowed: true;
}

/* SCROLL SNAPPING */
body {
  /* scroll-snap-type: x proximity; */
/*   background-image: -webkit-repeating-linear-gradient(135deg, var(--light-yellow), var(--dark-gray));
  background-image: -moz-repeating-linear-gradient(135deg, var(--light-yellow), var(--dark-gray));
  background-image: -o-repeating-linear-gradient(135deg, var(--light-yellow), var(--dark-gray)); */
/*   background-image: repeating-linear-gradient(135deg, var(--light-yellow), var(--dark-gray)); */
  background-color: rgb(202,204,155);
  color: navy;
}

/* NAV BAR BUTTONS */
/* eye button for toggling columns' display */
#btnCustomCols {
  background: radial-gradient(var(--light-yellow) 30%, rgba(255,255,255,0) 70%);
}
/* scissors button for clearing all the filters */
#btnCustomCols, #btnClearAllFilters {
  display: none;
  width: 2em;
}

/* EDITING BUTTONS */
.btnInner {
  top: 0;
  position: absolute;
  z-index: 7;
}
.btnLeft {
  left: 0.07em;
  text-align: start;
  padding-left: 0.3em;
}
.btnRight {
  right: 0.07em;
  text-align: end;
  padding-right: 0.3em;
}

/* image within inner buttons - todo: shouldn't need it once shovel is removed */
.btnImg { 
  width: 2em;
  height: 2em;z-index: 9;
}

.btnUpdatePlant {
  top: 2px;
}

/* icons within table headers - eye */
i:hover, th:hover {
  cursor: pointer;
}
.fa-eye {
  padding-top: 4px;
}

/* small inner buttons for adding and modifying user added plants */
#btnNewPlantAdd, #btnNewPlantClear, #btnNewPlantCopy, #btnNewPlantSubmit {
  position: absolute;
  background: transparent;
  top: 65%;
  display: none;
}
#btnNewPlantAdd {
  left: 25%;
}

#btnNewPlantCopy {
  left: 0;
  display: initial;
}
#btnNewPlantCopy ~ .dropUnqVals {
  top: 115%;
  left: 0;
}
#btnNewPlantSubmit {
  left: 50%;
}

/* ============== */
/* TABLE SETTINGS */
/* table id - #plants */
#plants {
  table-layout: fixed;
  position: relative;
  top: 3em;
  border-collapse: collapse;
  z-index: 2;
  width: 100vw;
  height: 50%;
  margin: 0 0 5em 0;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.2em;
  white-space: normal;
  font-size: 16px;
  z-index: 2;
}
/* table headers */
th {
  position: sticky;
  position: -webkit-sticky;
  top: 3em;
  padding: 0.5em;
  text-align: left;
  color: var(--light-yellow);
  background-color: var(--dark-blue);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* color even rows for readability */
tr:nth-child(even) {
  color: var(--darker-gray);
}

/* column width classes, table width has to be set for these to work */
.colWidth1, .colWidth2, .colWidth3 {
  width: calc(75vw / 2);
  scroll-snap-align: end;
}

/* the editable columns are notes, status, and garden location */
.editableCol {
  font-style: italic;
}

/* name column - sticky to ensure that plant names are always shown */
.frozenCol, .notesReferences {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  color: var(--light-yellow);
  background-color: var(--dark-blue);
  z-index: 1;
  width: 25vw;
  padding: 0 0 0 0.3em;
  text-align: center;
}

th.frozenCol {
  z-index: 3;
}

.notesReferences {
  color: var(--darker-gray);
  font-style: italic;
  font-weight: 100;
  text-align: left;
  background: none;
  border: none;
  padding: 0.3em;
  z-index: 0;
}
  
.notesReferences > a:first-child {
  padding-left: 1em;
  overflow-x: visible;
  white-space: nowrap;
}

.filterInput {
  /* display: none; */
  display: block;
  padding: 0 1em; 
  color: var(--dark-blue);
  width: 100%;
  height: 110%;
  font-size: 16px;
}
/* filter row freezing style, ensures that filter row is frozen and always shown on top */
.filterRow, .filterCell {
  position: sticky;
  position: -webkit-sticky;
/*   top 7.5 is too low for a small window on a desktop but works for mobile and simulator */
  top: 5.2em;
  background-color: var(--dark-blue);
  padding: 0;
  /* z-index: 2; */
}
/* the common name (first cell) of the filter freeze is done separately */
.filterCell {
  left: 0;
  text-align: left;
  z-index: 3;
}
/* filtering by size input fields */
.inputRangeMin, .inputRangeMax {
  max-width: 4em;
  height: 2em;
  margin-right: 5px;
  text-align: right;
  position: absolute;
  right: 0;
}

.inputRangeMin::-webkit-outer-spin-button,
.inputRangeMin::-webkit-inner-spin-button,
.inputRangeMax::-webkit-outer-spin-button,
.inputRangeMax::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.inputRangeMin[type=number],
.inputRangeMax[type=number] {
  -moz-appearance: textfield;
}

/* IMAGES SETTINGS, last column, all the way to the right */
img {
  display: block;
  width: 20%;
  height: auto;
  border: 0;
  margin: auto;
}

/* image gallery */
th.pic {
  text-align: center;
}
td.pic {
  padding: 0;
}
.pic:hover {
  cursor: pointer;
}

/* EXPORT/IMPORT */
/* export/import window */
div.expImp > button {
  top: 1px;
  z-index: 9;
  text-align: center;
}
div.expImp {
  display:inline-block;
  position:fixed;
  left: 2em;
  top: 2em;
  z-index: 8;
  padding: 0 35px;
  opacity: 0.9;
  border: 1px solid #001539;
  box-shadow: 3px 3px #00179d;
  background-color: rgb(255, 251, 244);
}
/* export/import text area - needed? */
textarea {
  padding: 5px ;
  border: 1px solid #001539;
  background-color: rgb(255, 251, 244);
  font-size: 16px;
}
i.exp, i.imp {
  background: var(--dark-blue);
  color: var(--light-yellow);
  border-radius: 5px;
  height: 1.5em;
}

/* DROP DOWN MENU SETTINGS */
#dropColNames, #dropExportImport {
  position: absolute;
  float: right;
  top: 1em;
  left: 1em;
  display: none;
}
#dropColNames, .dropUnqVals, #dropExportImport {
  z-index: 7;
  max-height: 15em;
  overflow: auto;
/*   added on 9/24/20 for iPad scroll support */
  -webkit-overflow-scrolling: auto;
  border-radius: 7px;
  list-style-type: none; 
  text-align: left;
  padding: 5px;
  line-height: 150%;
  color: var(--dark-blue);
  background-color: var(--bright-green);
/*   was 204, 255, 153, 0.95) */
}
.dropUnqVals {
  position: absolute;
  top: 50%;
  min-width: 6em;
  max-width: 12em;
  overflow: auto;
}
.disabledCustomChoice {
  color: #d2ffa7;
  /* background-image: repeating-radial-gradient(rgba(150,105,150,0.5),var(--bright-green) 99%); */
}
.selectedCustomChoice {
/*   color: var(--dark-gray); */
  font-weight: bolder;
  background-image: repeating-radial-gradient(var(--light-yellow), var(--bright-green) 99%); 
  background-color: var(--light-yellow);
}
/* 
  Responsiveness for desktop and tablet, width greater than 1000px
  600 for small devices; 400 for phones (which is default for 'mobile first' approach)
*/
@media only screen and (min-width: 900px) {
  body {
/*     scroll-snap-type: none; */
    background-image: repeating-linear-gradient(135deg, rgb(241, 241, 241), snow);
  }
  .filterRow, .filterCell {
    top: 5.3em;
    height: 2em;
  }
  .colWidth1 {
    width: 6em;
  }
  .colWidth2 {
    width: 9em;
  }
  .colWidth3 {
    width: 12em;
  }
  /* the following can be hidden on mobile: filtering, adding new plants */
/*   .filterInput {
    display: block;
  } */
  /*  newPlant row is now (11.6.21) not added via js on small screens  */
  #newPlantRow {
    background-color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    height: 3em;
  }
  .addPlant {
    display: inline;
    position: relative;
    bottom: 0;
    top: -1em;
    width: 50vw;
  }
}