/********** v8 **********/
/********** visual page styles **********/

/* variables - currently just colors used in the page */
:root {
  --tool-text-color: rgba(54, 54, 54, 0.75);
  --plant-text-color: rgba(14, 40, 20, 0.5);
}

body {
  background-image: repeating-linear-gradient(#d3e9f6, #e2ebd9, #b4b1a8);
  background-image: -webkit-repeating-linear-gradient(#d3e9f6, #e2ebd9, #b4b1a8);
  background-image: -moz-repeating-linear-gradient(#d3e9f6, #e2ebd9, #b4b1a8);
  background-image: -o-repeating-linear-gradient(#d3e9f6, #e2ebd9, #b4b1a8);
  /* cursor: url('../favicon.png'), auto; */
}

/* svg place uses a canvas */
canvas {
  position: relative;
  top: 3em;
}

#currentMonth {
  padding: 0 6px;
  margin: 0 6px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border-style: groove;
  min-width: none;
}
#monthMenu {
  min-width: max-content;
}

/* drop down, used for Sun, Soil, Tools */
.gdnBtn {
  font-size: medium;
  position: relative;
  fill: var(--tool-text-color);
  padding: 3px;
}

/* hovering over false drop downs */
.gdnBtn:hover {
  cursor: pointer;
  font-size: larger;
}

.garden:hover, .plantGrp:hover {
  cursor: grab;
}

.plantColor:hover {
  cursor: pointer;
}

/* initial text displayed when the page is first loaded and nothing's been created yet */
/* #initText {
  lineHeight: 2em;
} */
#initText {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  line-height: 2em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* input fields are: garden name */
input {
  background: none;
  border: 0;
  color: var(--plant-text-color);
  font-size: 14px;
  font-family: cursive;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  cursor: text;
  caret-color:var(--plant-text-color);
}

/* todo: when implementing custom icon below, use this to add html
<span class='icon'></span> */
/* the icon below is a new addition, not in use yet, to be developed maybe */
/* .icon {
    background: url('iconZinnia.jpg');
    height: 20px;
    width: 20px;
    display: block;
} */

/* settings and add plant menu */
li {
  padding: 3px;
  font-size: medium;
}

.plantName {
  width: 13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  fill: var(--plant-text-color);
}

.plantSize {
  fill: var(--plant-text-color);
  text-anchor: middle;
}

.plantPic {
  position: absolute;
  height: 100px;
  width: 100px;
}

.orientir {
  position: fixed;
  fill: white;
}

.colorGroupRect {
  fill: transparent;
}

/* plant bloom colors and additional info, below text name */
.plantInfo {
  position: absolute;
  width: 200px;
  padding: 3px;
  border-radius: 5px;
  background-color: aliceblue;
  color: var(--tool-text-color);
  font-family: cursive;
  overflow-x: auto;
}

.plantInfo div{
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* garden resizing triangle in the corner */
.resize {
  fill: rgba(65, 68, 65, 0.15);
  cursor: nwse-resize;
}

.plantFlowerShapeColor {
  border-radius: 5px;
}

/* garden size (height and width) indicators  */
.sizeInd {
  font-size: smaller;
  fill: var(--tool-text-color);
}

svg {
  font-family: FontAwesome;
}

/* the following list format is used in NavBar settings button dd, Add plant/garden dd */
.dropDown, .alphabet {
  position: absolute;
  max-height: 25em;
  overflow: auto;
  scrollbar-width: none;
  list-style-type: none;
  color: rgba(204, 255, 153, 0.90);
  font-size: small;
  background-color: rgba(0, 0, 50, 0.75);
  display: block;
}
.dropDown::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.dropDown {
  min-width: 12em;
  padding: 4px;
  text-align: left;
  border-radius: 7px;
}
.alphabet {
  overflow: hidden;
  min-width: 2em;
  padding: 4px 7px;
  text-align: center;
}
.alpha {
  border-radius: 7px 0 0 7px;
}
.zeta {
  border-radius: 0 7px 7px 0;
}

.plantCls {
  overflow: hidden;
  width: 17em;
}
.plantCls li {
  float: left;
  padding: 4px 6px;
}
.disabledCustomChoice {
  color: var(--dark-gray);
}

@media only screen and (max-width: 768px) {
  .gdnBtn {
    font-size: small;
  }
  .plantName {
    width: 10em;
  }
}
