/********** v.8.0.0 **********/

.archive {
  display: none;
}

article, h3 {
  font-style: oblique;
}

article img {
  z-index: 2;
  margin-right: 0.5em;
  float: left;
  /* mobile-only */
  margin-bottom: 0.5em;
  width: 80vw;
  height: auto;
}

body, main i {
  color: rgb(61, 61, 61);
}

.btnArchive {
  margin: auto;
  padding: 0.5em;
}

canvas {
  position: fixed;
}

.date {
  float: right;
  font-style: italic;
  margin-left: auto;
  margin-right: 0.5em;
}

h2 {
  color: rgb(144, 19, 19);
  margin: 0.5em 0;
}

h3 {
  margin-top: 1em;
  font-weight: initial;
}

.leftSide, .rightSide {
  position: fixed;
  height: 100vh;
  width: 5vw;
  margin-right: auto;
  margin-left: auto;
}
.leftSide {
  left: 0;
}
.rightSide {
  right: 0;
}
.leftSide > img, .rightSide > img {
  height: 100%;
  width: 5vw;
}

/* li {
  list-style-image: url("/pictures/bltCog2.png");
  list-style-position: outside;
  margin-left: 2em;
} */

/* container keeps all the articles; mobile settings */
main {
  font-family: Optima, sans-serif;
  position: absolute;
  display: grid;
  top: 7vh;
  line-height: 1.5em;
  grid-gap: 15px; /* vertical gap */
  /* mobile-only */
  width: 80vw;
  margin: 0 10vw;
}

/* desktop settings */
@media only screen and (min-width: 768px) {
  main {
    width: 90vw;
    margin: 0 5vw;
  }
  h2 {
    margin: 1em 0;
  }
  h3 {
    margin-bottom: -1em;
  }
  article img {
    border: 1px solid #ffffcc;;
    height: 50vh;
    width: auto;
    margin-bottom: 0;
  }
}

section {
  margin: 1em 0;
}