/********** v.8.0.0 **********/
:root {
  --dark-to-light: linear-gradient(to bottom, var(--dark-blue), white, rgba(255,255,255,0));
}
.archive {
  display: none;
}

article, h3 {
  font-style: oblique;
}

article img {
  /* z-index: 2; */
  margin-right: 1em;
  float: left;
  /* mobile-only */
  margin-bottom: 0.5em;
  width: 80vw;
  height: auto;
}

article > p {
  line-height: 2em;
}

body {
  background-image: linear-gradient(#99ccff, #e6faff);
  background-image: -webkit-linear-gradient(#99ccff, #e6faff);
  background-image: -moz-linear-gradient(#99ccff, #e6faff);
  background-image: -o-linear-gradient(#99ccff, #e6faff);
}

body, main i {
  color: rgb(61, 61, 61);
}

button {
  z-index: 2;
}

.btnArchive {
  margin: auto;
  padding: 0.5em;
}

.callToAction {
  border-radius: 7px;
  border-top-left-radius: 1px;
  box-shadow: -7px -7px 12px inset #004d00;
  padding: 0 0.2em;
  text-decoration: none;
  color: #ffffcc;
  
  -webkit-animation-name: coloranima;
  -webkit-animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
  animation-name: coloranima;
  animation-duration: 150s;
  animation-iteration-count: infinite;
}

canvas {
  position: fixed;
  z-index: 1;
  left: 0vw;
  width: 100vw;
}

.date {
  float: right;
  font-style: italic;
  font-family: cursive;
  margin-left: auto;
  margin-right: 0.5em;
}

h2 {
  color: rgb(144, 19, 19);
  margin: 0.5em 0;
}

h2 > button {
  margin-top: 1.8em;
}

h3 {
  margin-top: 0.5em;
  font-weight: initial;
  color: var(--dark-blue);
}

header {
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  border-image: var(--dark-to-light) 1 100%; 
  border-image-outset: 2px;
}
.leftSide, .rightSide {
  position: fixed;
  height: 100vh;
  width: 5vw;
}
.leftSide {
  left: 0;
  margin-left: 3vw;
}
.rightSide {
  right: 0;
  margin-right: 3vw;
}
.leftSide > img, .rightSide > img {
  height: 100%;
  width: 5vw;
} 

/* container keeps all the articles; mobile settings */
main {
  font-family: Optima, sans-serif;
  position: absolute;
  display: grid;
  top: 7vh;
  line-height: 1.5em;
  grid-gap: 15px; /* vertical gap */
  /* mobile-only */
  width: 80vw;
  margin: 0 10vw;
}

/* desktop settings */
@media only screen and (min-width: 900px) {
  header {
    border-image-outset: 2em;
  }
  main {
    width: 70vw;
    margin: 0 15vw;
  }
  h2 {
    margin: 1em 0;
  }
  article {
    margin-bottom: 3em;
  }
  article img {
    height: 65vh;
    width: auto;
    border-width: 10px;
    border-image-slice: 30%;
    border-image-source: linear-gradient(rgba(0,0,70,0),rgba(50,50,150,0.5), rgba(250,250,255,0.5), rgba(255,255,255,0));
    /* border-image-repeat: repeat;
    border-image-source: url('/pictures/icons/snowflakesIced.png');
    border-image-width: 20px; */
    border-image-width: 10px;
  }
  article li {
    list-style-image: url("../pictures/bltCog2.png");
    list-style-position: outside;
    margin: 0.5em 0 0.5em 2em;
  }
  article li:before {    
    font-family: 'FontAwesome';
    content: '\f863';
    margin: 0 0.1em;
  }
}

section {
  margin: 1em 0;
}