/********** v.8.0.0 **********/
/* this css file contains styles shared by all garden pages
   units:
   1in = 72pt
   1in = 96px
	 1em is equal to the current font size
   1em = 16px, based on the default font size of 16px
*/

/* test and enable code below */
/* button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
} */

/* VARIABLES */
:root {
  --dark-blue: rgb(0,0,70);
  --light-yellow: #ffffcc;
  --bright-green: #aceb6d;
  --dark-gray: rgb(105, 105, 105);
  --darker-gray: rgb(65,65,65);
  --edits-allowed: true;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  padding: env(safe-area-inset);
}

/* Current navbar link, i.e. selected page */
#active {
  background-color: rgb(0, 0, 70);
  border-radius: 7px;
}

/* The overall body of this page has a background that changes from darker blue at the top to lighter blue at the bottom.
Font family is set for the entire page, unless specified otherwise. The margin and padding set the start of content starts, at 0.*/
body {
  font-family: FontAwesome, 'Palatino Linotype', 'Georgia', 'serif';
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* closing button on the initial hint text for home and design */
.btnClose {
  position: absolute;
  right: 0;
  top: 0;
}

.btnHelper {
  border:   none;
  width:    2em;
  height:   2em;
}

/* UP AND DOWN SPEEDY BUTTONS */
.btnDn, .btnUp {
  position: fixed;
  right:    2%;
  z-index:  11;
  opacity:  0.5;
  width:    3em;
}

.btnDn { /*this button shows up on scroll to take the user to the top*/
  top: 90px;
}
.btnUp { /*this button shows up on scroll to take the user to the top*/
  bottom: 10px;
}

.btnHelper:hover {
  opacity: 0.7;
}

/* settings button, top left corner, displayed on Data & Design pages */
#btnView, #btnExportImport, #btnCustomCols, #btnClearAllFilters {
   /* mobile first, see @media for desktop */
  display: block;
  position: relative;
  float: left;
  z-index: 6; /* above navbar and page title */
  top: 2px;
  margin: 0 0.1em;
  max-height: 3em;
  padding: 7px;
}

/* general settings for all buttons */
button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  border-radius: 7px;
  background-color: rgb(0, 0, 77);
  color: white;
  cursor: pointer;
  max-width: 7em;
}

/* .customChoice {
  color: navy;
  background-color: rgba(204, 255, 153, 0.90);
} */
.customChoice:hover {
  color: #999999;
  cursor: pointer;
}

/* h1 styling is used for the page name in the nav bar */
h1 {
  position: fixed;
  font-size: 1em;
  margin-top: 0.5em;
  width: 100%;
  white-space: nowrap;
  color: #ffffcc;
/* don't allow selection, so that user can drag objects on visual tab without selecting the title */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
}

/* The animation code, applied to the navigation bar on all pages */
@keyframes coloranima {
    0%  {background-color: #004d00;}
   25%  {background-color: #99cc00;}
   30%  {background-color: orange;}
   35%  {background-color: #990000;}
   41%  {background-color: #804000;}
   50%  {background-color: #e0e0d1;}
   60%  {background-color: #b3e6ff;}
   75%  {background-color: #004d00;}
  100%  {background-color: #004d00;}
}
@-webkit-keyframes coloranima {
    0%  {background-color: #004d00;}
   25%  {background-color: #99cc00;}
   30%  {background-color: orange;}
   35%  {background-color: #990000;}
   41%  {background-color: #804000;}
   50%  {background-color: #e0e0d1;}
   60%  {background-color: #b3e6ff;}
   75%  {background-color: #004d00;}
  100%  {background-color: #004d00;}
}

@-o-keyframes coloranima {
    0%  {background-color: #004d00;}
   25%  {background-color: #99cc00;}
   30%  {background-color: orange;}
   35%  {background-color: #990000;}
   41%  {background-color: #804000;}
   50%  {background-color: #e0e0d1;}
   60%  {background-color: #b3e6ff;}
   75%  {background-color: #004d00;}
  100%  {background-color: #004d00;}
}

/* nav bar has a changing background (coloranima) */
.navbar {
  position: fixed;
  width: 100%;
  display: inline-block;
  text-align: center;
  border:  1pt outset #99ccff;
  padding: 0.5em 0;
  -webkit-animation-name: coloranima;
  -webkit-animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
  animation-name: coloranima;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  background-color: #004d00;
  /* z-index 4 puts nav bar behind view buttons and in front of everything else.*/
  z-index: 4;
}

/* links in nav bar */
.navbar a {
  display: block;
  position: relative;
  float: right;
  z-index: 6; /* above navbar and page title */
  padding: 0.4em;
  /* margin: 0.25em 0.25em 0.25em 0; */
  color: #ffffcc;
  text-decoration: none;
}

.navbar .fa-fw {
  margin-top: 0.1em;
}

.navbar a:hover, a:focus {
  background-color: rgb(0, 26, 51);
  border-radius: 7px;
}

/* this normal class is used to position text other than bars and table. */
.normal {
  position: relative;
  top: 5em;
  left: 0.625em;
}

/* PICTURE GALLERY SETTINGS*/
#picGal {
  display: none;
  position: fixed;
  z-index: 11;
  height: 80%;
  width: 80%;
  margin: 9% auto auto 10%;
  padding: 0 5%;
  background-color: rgba(0,0,0,0.3);
}

#picGal img {
  position: relative;
  height: 100%;
  width: 80%;
  object-fit: contain;
/*   transform: translateX(-50%); */
}

#picGal button {
  position: absolute;
  top: 50%;
  margin: 0 1em;
  height: 3em;
  width: 3em;
  background: transparent;
}
#picGal p {
  position: absolute;
  bottom: 0;
  color: white;
}

/* For desktop and tablet with width greater than 768px
   (600 for small devices; 400 for phones;
    768 - medium, 992 - large, 1200 - extra large)
*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.5em;
    margin-top: 0.1em;
  }
  .btnHelper {
    width: 2em;
    height: 2em;
  }
  .btnDn, .btnUp {
    width: 3em;
    height: 3em;
  }
}
/*************************************************************************************/
